# Configurações do Domínio & Traefik
DOMAIN=hub.adapterco.com.br

# Banco de Dados PostgreSQL
DB_PASSWORD=senha_super_segura_postgres_2024

# NextAuth Criptografia
NEXTAUTH_SECRET=chave_secreta_jwt_adapterhub_2024
NEXTAUTH_URL=https://hub.adapterco.com.br
NEXT_PUBLIC_APP_URL=https://hub.adapterco.com.br

# API MQTT AdapterCo
MQTT_API_URL=https://apimqtt.adapterco.com.br/publish
